{% extends 'layers/layout.html' %}

{% block content %}

    <div class='btn-home'>   
    <form action="{% url 'archive' %}" method="get">
        <button  type="submit" formaction="{% url 'tasks' %}">Home</button>
    </form> 
    </div>
    <div class="task-list">
    {% for task in tasks %}
        <div class="arch-task">
            <p>{{ task.name }}<p>
                <div class="button-row">     
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name='action' value="back">
                        <input type="hidden" name='id' value='{{ task.id }}'>
                        <button type="submit">Back</button>
                    </form>
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name='action' value="del">
                        <input type="hidden" name='id' value='{{ task.id }}'>
                        <button class="del" type="submit">Del</button>
                    </form>
                </div>  
        </div> 
    {% endfor %}
    </div> 


{% endblock content %}