{% extends 'layers/layout.html' %}

{% block content %}


         <form method="post">
                {{ form.name }}
                {% csrf_token %}
                <input type="hidden" name='action' value="add">
                <button type="submit" next.hidden="add">Add</button>
        </form>
    <div class='buttons'>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name='action' value="clear-all">
            <button type="submit">Hide Doned</button>
        </form>
        <form action="{% url 'archive' %}" method="get">
            <button type="submit" formaction="{% url 'archive' %}">Archive</button>
        </form> 
    </div>
        <div class="task-list">
        {% for task in tasks %}

                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name='action' value="del">
                    <input type="hidden" name='id' value='{{ task.id }}'>
                    <button class="task" type="submit">
                    {% if task.done %}
                        <s>{{ task.name }}</s> 
                    {% else %}
                        {{ task.name }}
                    {% endif %}    
                        

                    </button>
                </form>
        {% endfor %}
        </div>

        

{% endblock content %}