{% extends 'layers/layout.html' %}

{% block content %}

    <table>
    <tr>
         <form method="post">
            <td class="main-td">
                {{ form.name }}
                {% csrf_token %}
                <input type="hidden" name='action' value="add">
                <button class='r-btn' type="submit" next.hidden="add">Add</button>
            </td>
        </form>
    </tr>
    
    {% for task in tasks %}
        <tr>
            <td>        
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name='action' value="del">
                    <input type="hidden" name='id' value='{{ task.id }}'>
                    <button class="task" type="submit">
                    {% if task.done %}
                        <s>{{ task.name }}</s> 
                    {% else %}
                        {{ task.name }}
                    {% endif %}    
                        

                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name='action' value="clear-all">
                    <button class='r-btn' type="submit">Hide Doned</button>
                </form>
            </td>
        </tr>   

    </table>

{% endblock content %}