

button {
    padding: auto;
    width: 100px;
}

.task {
    font-size: 20px;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    background-color: aliceblue;
    width: 320px;
    text-align: left;
}

.buttons {

    padding: 10px 50px;
    display: flex;
    justify-content: space-between;

}
.task-conteiner {
    padding: 40px;
    margin: auto;
    width: 330px;
    table-layout: fixed;
    text-align: center;
    background-color: salmon;
    border-radius: 20px;
  }

.task-list {
    border-radius: 5px;
    background-color: aliceblue;
}

.arch-task {
    width: 320px;
    text-align: left;
    display: inline-flex;
    justify-content: space-between;
}


.button-row{
    margin: 2px 0;
    left:200px;
    display: flex;
    

}
.button-row button{
    width: 50px;
    height: 22px;
}


.arch-task p{
    text-align: left;
    padding: 2px;
    margin: 0;
    font-size: 20px;
}


/* Menu */

.menu {
    width: 100%;
    display: block;
    text-align: center;
}

.menu a {
    text-decoration: none;
    padding: 0% 3%;
}

#name-form {
    height: 28px;
    border-radius: 5px;
    padding: 0;
    width: 220px;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid black;
    background-color: aliceblue;
}

#name-form:focus {
    height: 28px;
    border-radius: 5px;
    max-width: 700px;
    border: none;
    border-bottom: 1px solid black;
    outline: none !important;
    background-color: aliceblue;
}